/* Stylesheet */

body {
	background : #5E3E2D;
}

header {
	background : #5E4548;
	color : #B55B5B;
	text-align : center;
	margin : 25px 0;	
}

nav {
 background : #907541;
 margin : 50px 0;	
}

li {
 	display : inline;
	margin : 0 20px;	
}

blockquote {
	background : #7A6D50;
	color : #79B599;
	padding : 20px;
	margin : 20px;
	text-align : center;	
}

section {
	background : #C75A24;
	
}

footer {
	background : #520037;
	color : white;	
}

.container_12 {
	background : #C75A24;	
}


