/* Stylesheet */

body {
	background : #5E3E2D;
}

header {
	background : #5E4548;	
}

nav {
 background : #907541;	
}

blockquote {
	background : #7A6D50;	
}

section {
	background : #79B599;	
}

footer {
	background : #520037;
	color : white;	
}

.container_12 {
	background : #C75A24;	
}


