/* Stylesheet */

body {
	background : #5E3E2D;
}

header {
	color : #5E4548;
	text-align : center;
	margin : 25px 0;
	font-family : 'Share Tech', sans-serif;
	font-size :	23px;
}

nav {
	 font-family : 'Share Tech', sans-serif;
	 margin : 60px 0;	
}

li {
 	display : inline;
	margin : 0 20px;
	padding : 10px 0;	
}

a {
	text-decoration : none;
	color :	#5E4548;
}

blockquote {
	color : #79B599;
	padding : 20px;
	margin : 20px;
	text-align : center;
	font-size : 50px;	
}

section {
	background : #C75A24;
	font-family : 'Share Tech', sans-serif;
}

footer {
	color : white;
	font-family : 'Share Tech', sans-serif;
	text-align : center;	
}

.container_12 {
	background : #C75A24;
		
}


